html,body,main {
  height:100%;
}
#container{
  height: 100%;
}
#board{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
}

.cell {
  flex-grow: 1
}

.cell.alive {
  background-color: red;
}
